.card {
  width: 250px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 105, 30);
  border-radius: 5px;
  border: 1px solid brown;
  transition: transform 0.5s linear;
}
/* .card:hover {
  background-color: rgb(230, 187, 153);
} */

.card:hover,
.card:focus {
  cursor: pointer;
  /* transform: translateY(-0.25em);
  transform: translateX(-0.25em); */
  box-shadow: rgba(210, 105, 30, 0.4) 0px 2px 4px,
    rgba(210, 105, 30, 0.3) 0px 7px 13px -3px,
    rgba(210, 105, 30, 0.2) 0px -3px 0px inset;
}

.card:active {
  transform: rotateY(3.142rad);
}
